@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@custom-variant dark (&:where(.dark, .dark *));
@import 'tailwindcss';

@theme {
  --color-brand-primary:#3d99f5; 
  --color-brand-secondary:#F0F2F5; 
  --color-foreground-primary: #121417;
}

@source "../node_modules/flowbite-svelte/dist";

body{
  color: var(--color-foreground-primary);
}

button {
  cursor: pointer;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    font-family: 'Plus Jakarta Sans', 'Courier New', Courier, monospace;
  }
}
